@model TrabajoFinalWeb.Models.DetalleBoleta

@{
    ViewBag.Title = "Detalle";
}
<hr />
<div>
    <h4>Detalle De Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.MontoTotal)*@
            <b>Precio</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ModoDePago.Descripcion)*@
            <b>Modo De Pago</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModoDePago.Descripcion)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Pedido.Detalle)*@
            <b>Cliente</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.Detalle)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Pedido.Detalle)*@
            <b>Estado</b>
        </dt>

        <dd>
            <h1>@ViewBag.Atendido</h1>
            @Html.EditorFor(model => model.Pedido.Atendido, new { @Value = @ViewBag.Atendido })
        </dd>

        @*@if (Model.Pedido.Atendido == false)
        {
            <dd>
                <h1>No Atendido</h1>
            </dd>
        }
        else
        {
            <dd>
                <h1>Atendido</h1>
            </dd>
        }*@
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) | 
    @Html.ActionLink("Regresar", "Index")
</div>