@model IEnumerable<TrabajoFinalWeb.Models.DetalleBoleta>

@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}
<body class="subpage">

    <h2>Lista De Pedidos</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoDePago.Descripcion)
            </th>
            <th>
                Estado
            </th>
            <th>
                Nombre del Cliente
            </th>
            <th>Opciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModoDePago.Descripcion)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Pedido.Atendido)*@
                    @if (item.Pedido.Atendido == false)
                    {
                        <h1>No Atendido</h1>
                    } 
                    else
                    {
                        <h1>Atendido</h1>
                    }                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pedido.Detalle)
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</body>